/* Release client-facing material */

position: absolute;
width: 650px;
height: 52.2px;
left: 272px;
top: 140px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;

color: #0D1240;

